@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body, * {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-block: 1rem;
}

.container {
    max-width: 75rem; /* 1200px */
    padding: 1.25rem; /* 20px */
    margin: 0 auto;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    flex-basis: 31%;
    margin: 1rem 0.4rem;
    padding: 1rem 0.4rem 2.5rem 0.4rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

.card__email {
    font-size: 1rem;
}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"] {
    padding: .25rem;
}

input[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-block: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}
  
th {
    background-color: #f4f4f4;
    font-weight: bold;
}
  
td {
    word-wrap: break-word;
}
  
td::before {
    content: "-";
    display: inline-block;
}
  
td:not(:empty)::before {
    content: "";
}